/*Header*/
header {
    width: 100%;
    height: 100px;
    padding: 0 5%;
  }
  .nom {
    margin: 55vh 20vw 0% 0;
    text-align: end;
  }
  .titre-nom {
    font-size: clamp(1rem, 1.549vw + 0.141rem, 2rem);
    font-weight: 500;
    color: white;
  }
  .slide-in-elliptic-bottom-bck {
    -webkit-animation: slide-in-elliptic-bottom-bck 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-elliptic-bottom-bck 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .developpeur {
    font-size: clamp(1.5rem, 3.38vw - 0.056rem, 4rem);
    font-weight: 800;
    color: white;
  }
  /*bacground hero dev*/
  .dev {
    z-index: -1;
    font-size: clamp(10rem, 55.634vw - 16.761rem, 40rem);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#2273ff3a;
  }
  .dev-annimation{
    animation: dev-blink 2s ease;
  }
  .neon-allume{
    text-shadow: 0.1vw 0vw 0.25vw #2272ff,
    0.15vw 0vw 0.25vw rgb(34, 115, 255), 0.15vw 0vw 0.25vw rgb(34, 115, 255),
    0 0.5vw 0.2vw rgb(34, 115, 255), 0.1vw 0vw 0.2vw rgb(34, 115, 255),
    0.15vw 0vw 0.2vw rgb(34, 115, 255), 0.4vw 0vw 0.2vw rgb(34, 115, 255),
    0.15vw 0vw 50.25vw rgb(34, 115, 255), 0.15vw 0vw 70.25vw rgb(34, 115, 255),
    0.15vw 0vw 90.25vw rgb(34, 115, 255);
    color: rgba(255, 255, 255, 0.162);
  }
  .img-moi {
    z-index: -1;
    position: fixed;
    bottom: -60vh;
    left: -10%;
    background-repeat: no-repeat;
    width: 50vw;
    height: auto;
    filter: drop-shadow(1px 1px 15px #000000);
  }
  