/*Nav lateral droite*/
.sommary {
    position: relative;
    width: 100vw;
    top: 50%;
    transform: translateY(-50%);
  }
  .sommary ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    height: 30vh;
    padding: 10px;
  }
  .sommary ul li {
    padding: 10px;
  }
  .sommary ul li p {
    display: inline-flex;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 15vw;
    color: white;
    border: 1px solid rgb(34, 115, 255);
    border-radius: 48px;
    height: 48px;
  }
  .sommary ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
  }
  .sommary a {
    font-size: 1rem;
  }
  .scroll-down {
    position: absolute;
    bottom: -45vh;
    left: 83vw;
    width: 25vw;
    align-items: center;
    transform: rotate(90deg);
    letter-spacing: 2px;
    padding: 10px;
    line-height: 2px;
  }
  .legend {
    position: fixed;
    flex-wrap: wrap;
    top: 50%;
    right: 0;
    width: 100%;
    height: fit-content;
  }
  .project-item {
    gap: 20px;
  }