.parallax {
  background-image: linear-gradient(0, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../../public/img/image000000.jpg");
  background-color: #050407;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  @media all and (max-width: 900px) {
    .background {
      background-image: linear-gradient(0, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
      url("../../public/img/image000000.jpg");
      height: 100%;
      width: 100%;
      position: fixed;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
