.parallax{
    background-image: linear-gradient(0,rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url("../../public/img/walling-g9bohm9h29Q-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    
}
