/* version mobile */
@media all and (max-width: 579px) {
  //hero
  
    .nom{
      margin: 41vh 5vw 0 0;
    }
    .sommary {
      display: none;
      position: fixed;
      right: 0;
      top: 0;
      width: 50vw;
      height: 100vh;
      background: #333;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(19px);
      -webkit-backdrop-filter: blur(19px);
      border-radius: 10px 0 0 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
    .sommary.active{
      display: block;
    }
    .scroll-down {
      display: none;
    }
    .navbar {
      display: none;
    }
    .sommary ul li a {
      width: 36px;
      height: 36px;
      display: none;
    }
    .sommary ul li p{
      width: 35vw;
    }
    .burger{
      position: relative;
      display: inline-block;
      width: 40px;
      height: 5px;
      background-color: $secondary-color;
      border-radius: 5px;
    }
    .burger::after,
    .burger::before{
      content: "";
      display: inline-block;
      transform-origin: center;
      position: absolute;
      width: 40px;
      height: 5px;
      background-color: #fff;
      border-radius: 5px;
      transition: all 0.3s ease;
    }
    .burger::after{
      top: 10px;
    }
    .burger::before{
      top: -10px;
    }
    .burger.open{
      background-color: transparent;
    }
    .burger.open::after{
      top: 0;
      transform: rotate(45deg);
      background-color: red;
    }
    .burger.open::before{
      top: 0;
      transform: rotate(-45deg);
      background-color: red;
    }
    //card
    .image-card{
      width: 100%;
    }
    .content-card{
      width: 100%;
    }
    .projet{
      width: 80%;
    }
}