@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*.roboto-condensed-<uniquifier> {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-family: "Roboto", sans-serif;*/
/* --------------------key frames DEV -------------------------*/

    $primary-color: #1d1d1d;
    $secondary-color: #3f1f4e;
    $color-card: darken(#1d1d1d3b,10%)
    
