//nav

.legend {
  z-index: 10;
  position: fixed;
  right: 0%;
  width: 80px;
  top:25%;
  .mobile {
    display: none;
  }
  .contact {
    position: fixed;
    top: 25%;
    left: 20px;
    a {
      img {
        width: 50px;
      }
    }
    @media all and (max-width: 900px) {
      position: static;
      width: 100%;
      top: 70%;
      display: grid;
      grid-template-columns: 40px 40px;
      column-gap: 20px;
      row-gap: 20px;
      img{
        margin-left: 45px;
        width: 50px;
      }
    }
  }
}
.sommary {
  justify-content: flex-end;
  ul {
    width: 100px;
    li {
      margin-bottom: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background: rgba(255, 255, 255, 0.2);
      a {
        color: black;
        font-weight: 500;
      }
    }
    .btn-oval {
      position: relative;
      width: 120px;
      right: 70px;
      height: 50px;
      border-radius: 25px;
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      a {
        color: white;
        font-size: 1.3rem;
        font-weight: 200;
      }
    }
  }
  .scroll-down {
    position: relative;
    top: 29vh;
    left: -30px;
    transform: rotate(90deg);
    color: $secondary-color;
    letter-spacing: 1px;
    font-size: 15px;
  }
  @media all and (max-width: 900px) {
    #contact,
    #project,
    #acceuil,
    #competences {
      display: none;
    }
    .mobile {
      display: block;
      color: #fff;
      font-weight: 200;
      font-family: "Roboto Condensed", sans-serif;
        }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 50vh;
      padding: 10px;
      width: 100%;
      li {
        width: 120px;
        height: 50px;
        a {
          color: white;
        }
      }
      .btn-oval {
        position: static;
        right: 0;
        width: 120px;
        height: 50px;
        font-weight: 100;
      }
    }
    .scroll-down {
      display: none;
    }
  }
}
.description {
  padding: 10% 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100vh;
  p {
    font-size: 25px;
  }
  h2 {
    font-weight: 100;
    font-size: clamp(3rem, 14.765vw - 6.468rem, 11.25rem);
  }
  @media all and (max-width: 579px) {
    padding-left: 30px;
    p{
      padding: 20vh 0;
    }
    h2{
      text-align: center;
      padding-top: 4vh;

    }
  }
  @media all and (max-width: 900px) {
    padding-top: 15%;
    width: 70%;
    h2 {
      font-size: 3em;
      }
    p{
      padding: 39vh 0;
      font-size: 18px;
    }
  }
  .nom{
    font-size: 2.5rem;
    color: $secondary-color;
  }
  .line-nom{
    height: 1px;
    margin:10px 0 ;
    background: rgb(68,44,103);
    background: linear-gradient(90deg, rgba(68,44,103,1) 0%, rgba(0,122,255,1) 50%, rgba(68,44,103,1) 100%);
  }
}
.bg-color {
  background-color: $secondary-color;
  transition: all 0.3s ease-out;
}

//competence
.competence {
  width: 100%;
  h2 {
    width: 100%;
    text-align: center;
  }
  .competence-grid {
    padding: 50px 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
    @media all and (max-width: 569px) {
      column-gap: 20px;
    }
  }
  img {
    width: 70px;
  }
}
.line{
  height: 1px;
  margin: 0 auto;
  background: rgb(68,44,103);
  background: linear-gradient(90deg, rgba(68,44,103,1) 0%, rgba(0,122,255,1) 50%, rgba(68,44,103,1) 100%);}
//swiper
.swiper {
  width: 80%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination{
  display: inline-block;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: $secondary-color;
}
//SECTION PROJET
.card-swiper1{
  transition: all .3s ease;
}
//section Contact
.section-contact {
  width: 100%;
  padding: 10px;
  h2 {
    text-align: center;
  }
  form {
    padding-top: 50px;
    .group {
      position: relative;
      display: flex;
      margin-bottom: 50px;
      label {
        position: absolute;
        color: #000;
        top: 50%;
        left: 10%;
        padding-bottom: 2px;
        transform: translateY(-50%);
        color: #aaa;
        font-size: 20px;
        transition: all 0.4s ease-out;
      }
      input,
      textarea {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 80%;
        padding: 10px 0;
        border: none;
        outline: none;
        background: none;
        border-bottom: 3px solid $primary-color;
        transition: all 0.4s ease-out;
        color: #fff;
        font-size: 20px;
        font-weight: 100;
      }
      textarea {
        background: #00000020;
        border-radius: 10px;
      }
    }
  }
}
#monform .group:focus-within label,
#monform .group.animation label {
  top: 0;
  transform: translateY(-100%);
  color: $secondary-color;
}
#monform .group:focus-within input,
#monform .group.animation input {
  border-bottom-color: $secondary-color;
}
#monform :nth-child(7) {
  width: 100%;
  text-align: center;
}
//footer
footer {
  width: 100%;
  text-align: center;
  height: 5vh;
  padding: 10px;
  background: #00000031;
  color: #fff;
  p {
    @media all and (max-width: 579px) {
      font-size: 12px;
    }
  }
  .line-footer{
    margin-bottom: 10px;
    height: 1px;
    background: rgb(68,44,103);
    background: linear-gradient(90deg, rgba(68,44,103,1) 0%, rgba(0,122,255,1) 50%, rgba(68,44,103,1) 100%);

  }
}
