//competence
.competence{
    padding: 10px;
    border-radius: 20px;
    width: 100%;
}
.competence h2{
    text-align: center;
    margin: 10%;
}
.competence img{
    width: 150px;
}
//projet
.projet{
    padding: 20px;
    border-radius: 15px;
}
.swiper{
    width: 400px;
    height: 600px;
}
//projet app meteo
.content-card{
width: 50%;
gap: 30px;
}
.content-card img{
    width: 28px;
}
